/* Product.css */
.Product {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
  }
  
  .Product-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #dee2e6; /* Light border color */
    border-radius: 8px;
    justify-content: space-between;
    width: 970px;
    background-color: #fff; /* White background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light box shadow */
  }
  
  .Product-image img {
    width: 80px;
    max-height: 80px;
    margin-right: 15px;
    border-radius: 5px; /* Rounded corners for images */
  }
  
  .Product-name {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .Product-edit,
  .Product-remove {
    margin-right: 10px;
    color: #fff;
    padding: 8px 12px;
    width: 90px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Product-edit {
    background-color: #007bff; /* Bootstrap primary color */
  }
  
  .Product-remove {
    background-color: #dc3545; /* Bootstrap danger color */
  }
  
  .add-Product {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 10px;
    color: #fff;
    background-color: #0a0101;
    padding: 3px 10px;
    width: 90px;
    margin-bottom: 0px;
    text-align: center;
    position: relative; /* Change to fixed position */
    top: 15px;
    left: 1011px;
    transition: background-color 0.3s ease;
  }
  
  .add-Product:disabled {
    background-color: #6c757d; /* Bootstrap secondary color */
    pointer-events: none;
  }
  
  .add-Product:hover {
    background-color: #218838; /* Darker shade on hover */
    transform: translateY(-2px);
  }
  
  .add-Product:active {
    box-shadow: none;
    transform: translateY(0);
  }
  