/* Product.css */
.Product {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
  }
  
  .Product-item {
    display: flex;
    align-items: center;
    margin: 10px 100px;
    padding: 15px;
    border: 1px solid #dee2e6; /* Light border color */
    border-radius: 8px;
    justify-content: space-between;
    width: 550px;
    background-color: #fff; /* White background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light box shadow */
  }
  
  .Product-image img {
    width: 80px;
    max-height: 80px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px; /* Rounded corners for images */
  }
  
  .Product-name {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .Product-edit,
  .Product-remove {
    margin-right: 10px;
  color: #0a0101;
  padding: 5px 10px;
  width: 70px;
  margin-bottom: 0px;
  text-align: center;
  }
  
  .Product-edit {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  } 
  
  .Product-remove {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }

  .add-Product-form {
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 330px;
    width: 50%;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
  }
  
  .add-Product {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 10px;
    color: #fff;
    background-color: #0a0101;
    padding: 3px 10px;
    width: 90px;
    margin-bottom: 0px;
    text-align: center;
    position: relative; /* Change to fixed position */
    top: 15px;
    left: 1011px;
    transition: background-color 0.3s ease;
  }
  
  .add-Product:disabled {
    background-color: #6c757d; /* Bootstrap secondary color */
    pointer-events: none;
  }
  
  .add-Product:hover {
    background-color: #856af0; /* Darker shade on hover */
    transform: translateY(-2px);
  }
  
  .add-Product:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .Product-details {
    flex: 1;
  }
  
  .Product-details p {
    margin: 5px 0;
  }
  
  .Product-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .Product-mrp {
    font-size: 16px;
  }
  
  .Sub-category-name {
    font-size: 16px;
  }

  