.login-container {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f6f2;
}
 
.login-form {
  font-family: "Nunito Sans", sans-serif;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 40px 30px 40px;
}

.loginh1 {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #363838;
  font-size: 28px;
  margin-bottom: 0px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.input-group {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 5px;
}

input {
  font-family: "Nunito Sans", sans-serif;
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.loginbutton {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin: 8px;
}
